 .card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  backface-visibility: hidden;
}

/* IMAGE */
.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT OVER IMAGE */
.card-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  background: rgba(0,0,0,0.35);
}

 
 /* FLOATING WRAPPER */
  .whatsapp-wrapper{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
  }

  /* ROTATING TEXT */
  .text-circle{
    position: absolute;
    width: 180px;
    height: 180px;
    animation: rotateText 10s linear infinite;
  }

  .rotating-text{
    width: 100%;
    height: 100%;
  }

  .rotating-text text{
    fill: white;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  /* WHATSAPP BUTTON */
  .whatsapp-btn{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #25D366;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 48px;
    text-decoration: none;

    position: relative;
    z-index: 2;

    box-shadow:
      0 0 20px rgba(37,211,102,0.7),
      0 0 50px rgba(37,211,102,0.5);

    transition: 0.3s ease;
  }

  .whatsapp-btn:hover{
    transform: scale(1.08);
  }

  /* ROTATION */
  @keyframes rotateText{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }

  /* MOBILE */
  @media(max-width:768px){

    .whatsapp-wrapper{
      width: 130px;
      height: 130px;
      bottom: 20px;
      right: 20px;
    }

    .text-circle{
      width: 130px;
      height: 130px;
    }

    .rotating-text text{
      font-size: 10px;
      letter-spacing: 2px;
    }

    .whatsapp-btn{
      width: 75px;
      height: 75px;
      font-size: 38px;
    }
  }



.card {
  width: 300px;
  height: 450px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.stat-card{
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.653);

  padding: 40px;
  border-radius: 24px;

  max-width: 500px;

  transition: 0.4s;
}

.stat-card:hover{
  transform: translateY(-10px) scale(1.02);

  border-color: rgba(255,0,0,0.5);

  box-shadow: 0 0 30px rgba(255,0,0,0.2);
}

.stat-card h1{
  font-size: 4rem;
  font-weight: 900;
  color: #ef4444;
  margin-bottom: 10px;
}

.stat-card h2{
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.stat-card p{
  color: #9ca3af;
  line-height: 1.8;
}


/* INITIAL STATE */
.right-card,
.left-card{
  opacity: 0;
  transition: all 1s ease;
}

/* RIGHT CARDS */
.right-card{
  transform: translateX(150px);
}

/* LEFT CARDS */
.left-card{
  transform: translateX(-150px);
}

/* ACTIVE STATE */
.show{
  opacity: 1;
  transform: translateX(0);
}

<!-- MARQUEE --
.marquee{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content{
  display: flex;
  gap: 80px;

  width: max-content;

  animation: scroll 20s linear infinite;
}

.marquee-content img{
  width: 180px;
  height: 100px;
  cursor: pointer;

  object-fit: contain;

  filter: grayscale(100%);

  transition: 0.4s;
}

.marquee-content img:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* CONTINUOUS SCROLL */
@keyframes scroll{

  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-50%);
  }

}


